.header {
    background: #121826;
    justify-content: space-between;
    margin: 0px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 15px;

}

.logo {
    display: flex;
    justify-content: flex-start;
    width: 20px;
    height: 45px
}

.search {
    color: white;
    align-items: center;
    height: 25px;
    width: 300px;
    display: flex;
}


body {
    margin: 0px;
}

